html{background-color: aliceblue;}
h1,h2,p,body,footer,a,figcaption{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.greentext{color: green;}

/*Website Logo placement and design*/
    #logo_img{
        width: 2.5em;
        height:2.5em;
    }
    #grocerySenceText{

        display: flex;
        height:auto;
        width:auto;
        justify-content: center;
        align-items: center;
    }
    #site_logo{
        display: flex;
        width:auto;
        height:auto;
        margin-left: 1em; 
        margin-top: 0em;
    }
/*-----------------------------------*/


/* Header Formating*/
    header{

        margin-left:2em;
        margin-right:2em;
        margin-bottom: 0em; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        min-width: 1300px;
    }

    /*Search Bar Formating*/
    #header-search-div{
        height: 3em;
        position: relative;
        width: 34em;
        float:left;
        margin-left: 1em;
        margin-right:1em;

    }
    #search-form{
        height:100%;
        width: auto;
        display: flex;
        
    }
    #search-bar{
        border: 0.1em solid green;;
        font-weight: 900;
        height: 100%;
        width: 75%;
        font-size: large;
        font-weight: normal;
        padding-left: 0.8em;
    }
    #search-bar:focus{
        outline: none;
    }
    #search-bar::placeholder{
        font-size: medium;
    }
    #search-button{
        color:white;
        background-color: green;
        border: none;
        height: 100%;
        font-weight: bold;
        width:25%;
        font-size: large;
    }
    #search-button:hover{
        box-shadow: green 0em 0.0em 0.7em;
    }
    
    
    /*Navigation tabs (Home, Price trends, Login)*/
    #menu_bar {
        float:right;
        display: flex;
        margin-right: 1em;
        margin-top:1em;
        width:fit-content;
        height:fit-content;
    }
    #menu_bar a{
        text-decoration: none;
        font-weight: bold;
    }
    #home-nav-link{
        font-size: 1.4em;
        color:green;
        text-shadow: 0em 0.3em 0.7em #525452;
        padding-bottom:3em;
    }
    #home-nav-link:hover{color:rgba(0, 128, 0, 0.568);}
    #pricetrend-nav-link{
        color:green;
        font-size: 1.4em;
    }
    #pricetrend-nav-link:hover{color:rgba(0, 128, 0, 0.568);}
    #login-nav-link{
        color:green;
        font-size: 1.4em;
    }
    #login-nav-link:hover{color:rgba(0, 128, 0, 0.568);}
    .nav-element{
        border-right: #979997 0.1em solid;
        height: fit-content;
        width: fit-content;
        display:inline-block;
        padding-left: 1em;
        padding-right: 1em;
    }
/*---------------------------------------------------------------------------*/

/*Body Formating*/
    /*Banner image container*/
    #banner{
        height:fit-content;
    }

    #bannerimg{
        width:100%;
        border-radius: 2em;
    }



    /*container with grocery store logo images*/
    #image_bubbles{
        display: flex;
        align-items: center;
        overflow: none;
        justify-content: center;
        height: 13em;
        margin-top: 2em;
        margin-right: 2em;
        margin-left:2em;
    }

    .logobubble{
        border-radius:50%;
        height: 12em;
        margin-right:1em;
        
    }

    #main{
        margin-bottom: 0em;
        height:63em;
        min-width: 1300px;
    }
/*-------------------------------------------------------------------------------*/

/*Footer Formating*/
footer{
    min-width: 1300px;
}

#side-div{
    display:flex;
}

.side-text{
    display: flex;
    align-items: center;

    text-align: center;
    border-radius: 2em;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:2em;
    margin-right: 2em;
    height:12em;
    min-width:15em;
    color: green;
    
}
.side-text{
    transition: transform 0.5s ease-in-out;
}
.side-text:hover{
    color:rgba(0, 128, 0, 0.766);
    transform: scale(1.05);
}

#description-text{
    border-top: rgba(0, 0, 0, 0.265) 0.1em solid;
    display: inline-block;
    margin-left:2em;
    margin-right:2em;
}

